.navigation {
    background:#f4f5f6;
    border-bottom:.1rem solid #d1d1d1;
    display:block;
    height:5.2rem;
    left:0;
    max-width:100%;
    position:fixed;
    right:0;
    top:0;
    width:100%;
    z-index:50
}
.navigation .container {
    padding-bottom:0;
    padding-top:0
}
.navigation .navigation-list {
    list-style:none;
    margin-bottom:0;
    margin-right:5rem
}
@media(min-width:80rem) {
.navigation .navigation-list {
        margin-right:0
    }
}
.navigation .navigation-item {
    float:left;
    margin-bottom:0;
    margin-left:2.5rem;
    position:relative
}
.navigation .img {
    fill:#9b4dca;
    height:2rem;
    position:relative;
    top:.3rem
}
.navigation .navigation-title,
.navigation .title {
    color:#606c76;
    font-family:Gotham Rounded A,Gotham Rounded B,Helvetica Neue,Arial,sans-serif;
    position:relative
}
.navigation .navigation-link,
.navigation .navigation-title,
.navigation .title {
    display:inline;
    font-size:1.6rem;
    line-height:5.2rem;
    padding:0;
    text-decoration:none
}
.navigation .navigation-link.active {
    color:#606c76
}
.container {
    margin: 0 auto;
    max-width: 112.0rem;
    padding: 0 2.0rem;
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    width: 100%;
}
.main{
    padding-top: 7rem;
    background-color: white;
}
.logo-github, .logo-linkedin{
    height: 3.2rem;
    position: fixed;
    margin: 1rem;
}
.logo-linkedin {
    right: 4rem;
    width: 3.5rem;
}
.logo-github{
    right: 0;
    width: 3.2rem;
}
.cv-image{
    height: 6rem;
    width: 6rem;
    padding-right: 10px;
    float:left;
}
.cv-entry{
    overflow:auto;
}
.cv-text
{
    float:left;
}
.row{
    margin-bottom: 2rem;
}
.project-image{
    width: 50%;
}
h3{
    margin-bottom: 0px;
    padding-bottom: 0px;
}
p{
    margin-bottom: 5px;
}
#delete-button{
    background-color: white;
	border: 0.1rem solid white;
	border-radius: .4rem;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 1.5rem;
	font-weight: 700;
	height: 3rem;
	letter-spacing: .1rem;
	line-height: 3.8rem;
	padding: 0 0.5rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
}
@keyframes float {
    from {transform: translateY(100vh);
    opacity: 1;}
    to {transform: translateY(-100vh);
    opacity: 0;}
  }

select {
    background: initial;
    padding-right: 0rem;
    margin-bottom: 0rem;
}

select:focus {
    background-image: initial;
    padding-right: 0rem;
}

div .vc-container{
    width: 100%;
}
