<head>
    <title>Party Organizer</title>
    <meta name="Party Organizer">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <!-- CSS Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <!-- Milligram CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <!-- My CSS -->
    <link rel="stylesheet" href="main.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
</head>
<body>
  <div w3-include-html="partials/navigation.html"></div> 
  <section class="container"> 
    <div class="main"> 
      <div class="row">
        <p>Your party code: <b id="party-code">{{code}}</b></p>
      </div>
      <div class="row">
        <div class="column"> 
            <div id="add-entry"><input v-model="message" placeholder="Enter information here"><button v-on:click="addEntry">Add party info</button></div>
            <div id="entry-list">
              <ul>
                <party-item
                  v-for="item in entries"
                  v-bind:info="item"
                  v-bind:id="item.id"
                  @delete-event="handleDeleteEvent"
                ></party-item>
              </ul>
            </div>
          </div>
          <div class="column"> 
            <div id="add-participant"><input v-model="message" placeholder="Enter name here"><button v-on:click="addParticipant">Add participant</button></div>
            <div id="participant-list">
              <ul>
                <party-participant
                  v-for="item in entries"
                  v-bind:info="item"
                  v-bind:id="item.id"
                  @delete-event="handleDeleteEvent"
                ></party-participant>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="column"> 
            <div id="set-location"><input v-model="message" placeholder="Enter location here"><button v-on:click="setLocation">Set location</button></div>
            <div id="map" style="height: 500px;"></div>
          </div>
        </div>
    </div>

  </section>
  <script src="/map.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBV3A8kYL1muSxtAmvkUWnNsx1nn6-zPNg&callback=initMap"
    async defer></script>
  <script src="/helperFunctions.js"></script>
  <script src="/participants.js"></script>
  <script src="/party.js"></script>
  <script src="includeHTML.js"></script>
  <script>includeHTML();</script>
</body>